{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Teacher Dashboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>


    body{
        background-image: url("{% static 'office_2.jpg'%}");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock head %}

{% block body %}


<div class="container-fluid" >
    <div class="row" >
        
        <br>

        <div class="col-sm-12">
            <div class="row" style="display: flex; justify-content: center;">
                <div class="col-sm-8">
                    <div class="well" style="background-color: rgba(0, 0, 0, .5); color: #f1f1f1;">
                        <h3>Apply For Leave</h3>
                        <form method="post">
                            <label for="leave_type" class="form-label">Leave Type:</label>
                            <select class="form-select" aria-label="Default select example" name="leave_type">
                                <option selected>Select leave type:</option>
                                <option value="Sick Leave">Sick Leave</option>
                                <option value="Casual Leave">Casual Leave</option>
                                <option value="Earned Leave">Earned Leave</option>
                              </select>
                              

                            <label for="employee" class="form-label">Employee id:</label>
                            <input type="text" name="e_id" class="form form-control">

                            <label for="employee" class="form-label">Start date:</label>
                            <input type="date" name="start" class="form form-control">

                            <label for="employee" class="form-label">End date:</label>
                            <input type="date" name="end" class="form form-control">

                            <label for="employee" class="form-label">Month:</label>
                            <input type="text" name="month" class="form form-control">

                            <label for="employee" class="form-label">Year:</label>
                            <input type="text" name="year" class="form form-control">

                            <label for="employee" class="form-label">No of leaves taken:</label>
                            <input type="text" name="no" class="form form-control">

                            <button type="submit" class="btn btn-primary my-3 px-4 py-3">APPLY</button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script>
    // remove any element with errorlist class from upper fields
    $('.errorlist').remove();
    // add form and form-control css classes to text input fields
    $('input[type=text]').addClass("form form-control")
</script>
{% endblock body %}