{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Teacher Dashboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
        height: 550px
    }

    /* Set gray background color and 100% height */
    .sidenav {
        background-color: #f1f1f1;
        height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
        .row.content {
            height: auto;
        }
    }
    * {
        font-size: 20;
    }
</style>
{% endblock head %}

{% block body %}

<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a href="#">Name</a></li>
                <li><a href="#">Branch</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav hidden-xs" style="height: 100vh;">
            <h2><img src="{% static 'logo.jpeg' %}" height="200px" width="300px"></h2>
            <ul class="nav nav-pills nav-stacked" style="display: flex; flex-direction: column;">
                <li class="active"><a href="#section1">Dashboard</a></li>
                <li><a href="#section2">Name</a></li>
                <li><a href="#section3">Branch</a></li>

            </ul><br>
        </div>
        <br>

        <div class="col-sm-10">
            <div class="well">
                <h4>Dashboard</h4>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="well">
                        <h3>Apply For Leave</h3>
                        <form method="post">
                            <label for="leave_type" class="form-label">Leave Type:</label>
                            <input type="text" name="leave_type" class="form form-control">
                            <label for="leave_reason" class="form-label">Leave Reason:</label>
                            <input type="text" name="leave_reason" class="form form-control">
                            <button type="submit" class="btn btn-primary my-3 px-4 py-3">APPLY</button>
                        </form>
                    </div>
                </div>
                
                <div class="col-sm-4" style="height: 100vh;">
                    <div class="well">
                        <p>Leave Record</p>
                    </div>
                    <table width="100%">
                        <tr>
                            <th>Heading</th>
                            <th>Description</th>
                            <th>Date</th>
                        </tr>
                        {% for record in leave_record %}
                        <tr>
                            <td>{{record.leave_type}}</td>
                            <td>{{record.leave_reason}}</td>
                            <td>{{record.leave_date}}</td>
                        </tr>
                        {% endfor %}
                    </table>


                    <div class="well my-5">
                        <p>Leave Left</p>
                        <span style="font-size: 4em">
                            {{ leave_left}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // remove any element with errorlist class from upper fields
    $('.errorlist').remove();
    // add form and form-control css classes to text input fields
    $('input[type=text]').addClass("form form-control")
</script>
{% endblock body %}