{% extends "base.html" %}

{% block body %}
<div class="container">
    {% load static %}
    <style>
        input{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        select{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .errorlist{
            display: none;
        }
        body{
            background-image: url("{% static 'rgbg.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .container {
            background-color: rgba(0, 0, 0, .6);
        }
        label {
            color: white !important;
        }
    </style>
    <form method="post" action="/auth/employee/register/">
    
    {{e_form.as_p}}
    {{u_form.as_p}}
    
    <input type="submit" value="Submit">
    </form>
</div>


{% endblock body %}